@import "tailwindcss";
@plugin "daisyui";
@theme {
  --color-primary-orange: #ff5722;
  --color-primary-dark: #e64a19;
}
body {
  font-family: 'Roboto', sans-serif;
}
.bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}
